<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a rel="noopener" routerLink="/posts">Click to route</a></h2>
  </li>

</ul> -->

<app-header></app-header>
<main>
  <!-- <app-blogs (blogAdded)="onBlogAdded($event)"></app-blogs>
  <app-blogs-list [blogs]="allBlogs"></app-blogs-list> -->

  <app-blogs></app-blogs>
  <app-blogs-list></app-blogs-list>
</main>


<!-- <router-outlet></router-outlet> -->


